.contact {
  background-color: #242dc7; 
  &__wrapper{
    max-width: 1440px;
    padding: 10rem;
    margin: 0 auto;
    @include breakpoint-down(medium) {
      padding: 10rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    h3 {
      @include h3(#DEE0FC);
    }
  }
  &__msg {
    margin-bottom: 1rem;
    p {
      font-size: $font-sm;
      font-family: 'Open Sans', sans-serif;
      color: #DEE0FC;
    }
  }
  &__button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
      @include button($bg-grey-darkest);
      img {
        height: 0.7rem;
        filter: invert(93%) sepia(13%) saturate(0%) hue-rotate(188deg) brightness(91%) contrast(100%);
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-width: 220px;
    gap: 1rem;
    div,
    input,
    textarea {
      width: 100%;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: $font-xsm;
      font-family: 'Open Sans', sans-serif;
      color: #DEE0FC;
      font-weight: 900;
    }
    input,
    textarea {
      background: white;
      border-radius: none;
      border: none;
      padding: 0.5rem;
      font-size: $font-sm;
      font-family: 'Open Sans', sans-serif;
      color: $dark-grey-text;
    }
    input:focus,
    textarea:focus {
      outline: 1px solid $grey-text;
      box-shadow: 0 0 1px $grey-text;
    }
    input {
      height: auto;
    }
    textarea {
      height: 160px;
    }
  }
}