.footer {
  position: relative;
  background-color: #202020;
  /* svg margin fix */
  .svg-divider-top {
    height: 20rem;
    width: 100%;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      z-index: 10;
    }
    &::before {
      top: -2px;
      background-color: #242dc7;
    }
    &::after {
      bottom: -2px;
      background-color: #202020;
    }
  }
  /* svg margin fix */
  &__shape-divider-top {
    display: block;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    background-color: #202020;
  }
  &__wrapper {
    max-width: 1440px;
    padding: 10rem 5rem 20rem 5rem;
    margin: 0 auto;
    position: inherit;
    @include breakpoint-down(medium) {
      padding: 10rem 3rem 20rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem 20rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    @include breakpoint-down(small) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
  }
  &__author {
    cursor: alias;
    p, span {
      font-family: 'Manrope', sans-serif;
      font-size: $font-sm;
      color: #ABABAB;
    }
    p {
      font-weight: 900;
      letter-spacing: 1px;
    }
    span {
      font-weight: 100;
    }
    @include breakpoint-down(small) {
      p, span {
        font-size: $font-xsm;
      }
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 2rem;
    @media screen and (max-width:440px) {
      width: 100%;
    }
  }
  &__icon {
    width: 1.7rem;
    max-width: 1.7rem;
    height: 1.7rem;
    max-height: 1.7rem;
    svg {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      path {
        transition: all 0.3s ease;
        fill: #ABABAB;
      }
    }
    @include breakpoint-down(small) {
      width: 1.5rem;
      max-width: 1.5rem;
      height: 1.5rem;
      max-height: 1.5rem;
    }
    @include breakpoint-down(x-small) {
      width: 1.4rem;
      max-width: 1.4rem;
      height: 1.4rem;
      max-height: 1.4rem;
    }
    @include breakpoint-down(xx-small) {
      width: 1.2rem;
      max-width: 1.2rem;
      height: 1.2rem;
      max-height: 1.2rem;
    }
    &:hover {
      svg {
        path {
          fill: #DEE0FC;
        }
      }
    }
  }
}