.home {
  position: relative;
  height: 100svh;
  min-height: 500px;
  width: 100%;
  background: #161d9c;
  background-image:
  linear-gradient(to right, rgb(16, 67, 142, 0.6) 0%, rgb(8, 79, 74, 0.6) 100%),
  url('../assets/home/stars-background-1920x1440.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint-up(x-large) {
    background-image:
    linear-gradient(to right, rgb(16, 67, 142, 0.6) 0%, rgb(8, 79, 74, 0.6) 100%),
    url('../assets/home/stars-background-5177x3883.webp');
  }
  &::after {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    background: linear-gradient(0deg, rgba(222, 222, 222, 0.4) 0%, transparent 100%);
  }
  /* svg margin fix */
  &::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #242dc7;
    bottom: -2px;
    z-index: 10;
  }
  /* */
  &__layered-waves {
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 1;
    bottom: 0;
  }
  &__wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
  }
  &__headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    p, h1, h2 {
      font-family: 'Manrope', sans-serif;
      font-size: $font-sm;
      color: #DEE0FC;
      letter-spacing: 5px;
      margin-right: -5px;
      font-weight: 100;
      text-align: center;
    }
    h1 {
      font-family: 'Mate SC', serif;
      font-size: 2rem;
      background: transparent;
      background: linear-gradient(to right, #cbf8ff 0%, #DEE0FC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include breakpoint-down(small) {
      h1 {
        font-size: 1.7rem;
      }
    }
    @include breakpoint-down(x-small) {
      h1 {
        font-size: 1.4rem;
      }
      h2, p {
        font-size: $font-xsm;
      }
    }
    @include breakpoint-down(xx-small) {
      h2, p {
        font-size: 0.7rem;
      }
    }
  }
  &__contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    top: calc(100% + 2rem); 
    @include breakpoint-down(small) {
      gap: 0.5rem;
    }
    @include breakpoint-down(xx-small) {
      gap: 0.1rem;
    }
  }
  &__contact-logo {
    background: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    border: 2px solid transparent;
    display: flex;
    padding: 5px;
    transition: all 0.3s ease;
    position: relative;
    &::after {
      content: '';
      background-color: #DEE0FC;
      position: absolute;
      top: 50%;
      transition: all 0.3s ease;
      opacity: 0;
      pointer-events: none;
    }
    &:not(:first-child):not(:last-child)::after {
      width: 1px;
      height: 100%;
      left: 50%;
      top: 100vh;
      transform: translate(-50%, 0%); 
      height: 100vh;
    }
    &:first-child::after {
      width: 100vw;
      height: 1px;
      margin-right: 100%;
      right: 100vw;
    }
    &:last-child::after {
      width: 100vw;
      height: 1px;
      margin-left: 100%;
      left: 100vw;
    }
    svg {
      width: 1.7rem;
      max-width: 1.7rem;
      height: 1.7rem;
      max-height: 1.7rem;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      path {
        fill: #DEE0FC;
      }
      @include breakpoint-down(small) {
        width: 1.5rem;
        max-width: 1.5rem;
        height: 1.5rem;
        max-height: 1.5rem;
      }
      @include breakpoint-down(x-small) {
        width: 1.4rem;
        max-width: 1.4rem;
        height: 1.4rem;
        max-height: 1.4rem;
      }
      @include breakpoint-down(xx-small) {
        width: 1.2rem;
        max-width: 1.2rem;
        height: 1.2rem;
        max-height: 1.2rem;
      }
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      &:not(:first-child):not(:last-child) {
        &::after {
          top: 100%;
        }
        border-bottom: 2px solid #DEE0FC;
      }
      &:last-child {
        &::after {
          left: 0;
        }
        border-right: 2px solid #DEE0FC;
      }
      &:first-child {
        &::after {
          right: 0;
        }
        border-left: 2px solid #DEE0FC;
      }
      svg {
        border: 1px solid #DEE0FC;
        padding: 5px;
      }
    }
  }
}