.home {
  background: $bg-grey-dark;
  min-height: 100vh;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  color: $light-text;
  &__wrapper {
    max-width: 1440px;
    padding: 5rem;
    margin: 0 auto;
    height: 100%;
    @include breakpoint-down(medium) {
      padding: 5rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__header {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 5px;
    line-height: 1.3;
    h1 {
      color: $light-text;
      font-size: 2rem;
      @include breakpoint-down(small) {
        font-size: 1.5rem;
      }
    }
    h2 {
      color: $grey-text;
      font-size: $font-xlg;
      font-size: 3rem;
      @include breakpoint-down(small) {
        font-size: 2.2rem;
      }
    }
  }
  &__description {
    align-self: flex-end;
    font-size: $font-med;
    margin: 4rem 0 2rem 0;
    @include breakpoint-down(small) {
      font-size: $font-sm;
    }
  }
  &__button {
    align-self: flex-end;
    button {
      @include button($bg-grey-dark);
    }
  }
}