.projects {
  background-color: #d0d2d6;
  &__shape-divider-top,
  &__shape-divider-bottom {
    display: block;
    width: 100%;
    height: 20rem;
    background-color: #242dc7;
  }
  &__shape-divider-bottom {
    transform: rotate(180deg);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10rem 5rem;
    @include breakpoint-down(medium) {
      padding: 10rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 10rem 2rem;
    }
  }
  &__header {
    h3 {
      @include h3(#3D3D3D);
    }
  }
  &__wrapper
  &__image-placeholder {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }
  &__wrapper {
    margin-bottom: 13rem;
  }
  &__project {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: #3D3D3D;
      font-family: 'Manrope', sans-serif;
      letter-spacing: 5px;
      font-size: $font-lg;
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  &__project.horizontal {
    flex-direction: row;
    gap: 5rem;
  }
  &__horizontal-right {
    flex: 1;
  }
  &__horizontal-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-grow: 2;
    position: relative;
  }
  &__project.vertical {
    flex-direction: column;
    gap: 0;
  }
  &__vertical-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__description {
    margin: 1rem 0;
    width: 100%;
    p {
      color: #3D3D3D;
      font-family: 'Open Sans', sans-serif;
      font-size: $font-sm;
      max-width: 100ch;
      margin: 0 auto;
      @include breakpoint-down(small) {
        font-size: $font-xsm;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      @include button($bg-grey-darkest);
      min-width: 50px;
      width: 100px;
    }
  }
  &__slider {
    position: relative;
    overflow: hidden;
    box-shadow:
      rgba(170, 170, 170, 0.4) 0 0 0px 0.4rem,
      rgba(170, 170, 170, 0.3) 0 0 0px 0.8rem,
      rgba(170, 170, 170, 0.2) 0 0 0px 1.2rem,
      rgba(170, 170, 170, 0.1) 0 0 0px 1.6rem,
      rgba(170, 170, 170, 0.05) 0 0 0px 1.8rem,
      #ffffff 0 0 0 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aeadad;
    border: 1px solid #a4a4a4;
    padding: 2rem;
    @include breakpoint-down(medium) {
      padding: 1rem;
    }
    .next,
    .prev {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-size: $font-sm;
      font-family: 'Montserrat', sans-serif;
      z-index: 2;
      border: none;
      background: hsl(0deg 0% 0% / 73%);
      color: white;
      backdrop-filter: blur(2px);
      height: 30%;
      padding: 0.5rem;
      box-shadow: 0px 0px 1px #5c5c5c;
      &:hover {
        background: hsl(0deg 0% 0% / 76%)
      }
    }
    .next {
      right: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: none;
    }
    .prev {
      left: 0;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-left: none;
    }
  }
  &__slider-image {
      position: absolute;
      width: 100%;
      padding: 2rem;
      @include breakpoint-down(medium) {
        padding: 1rem;
      }
  }
  &__horizontal-left {
    .next,
    .prev {
      height: 40%;
    }
  }
  &__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin: 1rem 0;
  }
  &__skills-placeholder {
    opacity: 0;
    user-select: none;
  }
  &__skill {
    position: relative;
    cursor: default;
    span {
      display: none;
      position: absolute;
      left: 50%;
      top: 115%;
      transform: translate(-50%, 0%);
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
      padding: 2.5px 5px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #00000029;
      background-color: #f1f1f1;
      min-width: 200%;
    }
    &:hover {
      span {
        display: block;
      }
    }
  }
  &__logo {
    height: 1.5rem;
    width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    @include breakpoint-down(small) {
      height: 1.2rem;
      width: 1.2rem;
      max-width: 1.2rem;
      max-height: 1.2rem;
    }
    @include breakpoint-down(x-small) {
      height: 1rem;
      width: 1rem;
      max-width: 1rem;
      max-height: 1rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }  
  }
  &__showmore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      cursor: pointer;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      color: $light-blue;
      font-size: $font-xsm;
      &:hover {
        color: darken($light-blue, 3%);
      }
      &:active {
        color: darken($light-blue, 5%);
      }
    }
  }
}

