.projects {
  background-color: $color-light-theme;
  /* svg margin fix */
  .svg-divider-top,
  .svg-divider-bottom {
    height: 15rem;
    width: 100%;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      z-index: 10;
    }
    &::before {
      top: -2px;
      background-color: $color-primary-theme;
    }
    &::after {
      bottom: -2px;
      background-color: $color-light-theme;
    }
  }
  .svg-divider-bottom {
    &::before {
      background-color: $color-light-theme;
    }
    &::after {
      background-color: $color-primary-theme;
    }
  }
  /* svg margin fix */
  &__shape-divider-top,
  &__shape-divider-bottom {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-primary-theme;
  }
  &__shape-divider-bottom {
    transform: rotate(180deg);
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10rem 5rem;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% - 20rem);
      background-color: $color-light-theme-contrast;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include breakpoint-down(medium) {
      padding: 10rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
      &::after {
        height: calc(100% - 10rem);
      }
    }
  }
  &__header {
    border: 1px solid $color-light-theme-contrast;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: $color-light-theme;
    z-index: 2;
    h3 {
      @include h3($color-light-theme-text);
      margin-bottom: 0;
    }
  }
  &__featured {
    display: flex;
    flex-direction: column;
    padding: 1rem 3vw;
    gap: 5rem;
    margin: 5rem 0;
    margin-top: 2rem;
    @include breakpoint-down(medium) {
      padding: 1rem 0;
    }
    @include breakpoint-down(small) {
      z-index: 2;
      background-color: $color-light-theme;
      border-radius: 10px;
      border: 1px solid $color-light-theme-contrast;
      padding: 2rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5rem;
    background-color: $color-light-theme-contrast;
    border-radius: 10px;
    padding: 5rem;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    @include breakpoint-down(medium) {
      padding: 3rem;
      gap: 3rem;
    }
    @include breakpoint-down(small) {
      padding: 2rem;
      gap: 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include breakpoint-down(x-small) {
      padding: 2rem;
      gap: 5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  &__grid &__project {
    h4 {
      white-space: nowrap;
    }
  }
  &__grid &__buttons {
    gap: 1rem;
    a {
      height: 30px;
      width: 70px;
      font-size: $font-xsm;
    }
    @include breakpoint-down(x-small) {
      a {
        width: 90px;
      }
    }
    @include breakpoint-down(xx-small) {
      a {
        width: 80px;
      }
    }
  }
  &__grid &__wrapper {
    margin-bottom: 0;
  }
  &__wrapper
  &__image-placeholder {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }
  &__project {
    display: flex;
    justify-content: center;
    align-items: center; 
    h4 {
      font-family: $font-family-primary;
      font-size: $font-lg;
      font-weight: 700;
      color: $color-light-theme-text;
      letter-spacing: 1px;
      line-height: normal;
      margin-bottom: 1rem;
      @include breakpoint-down(medium) {
        font-size: $font-med;
      }
    }
  }
  &__project.horizontal {
    flex-direction: row;
    gap: 5rem;
    position: relative; 
  }
  &__horizontal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__horizontal-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
  }
  &__project.vertical {
    flex-direction: column;
    gap: 0;
    h4 {
      text-align: center;
    }
  }
  &__vertical-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &__vertical-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__description {
    margin: 0 0 2rem 0;
    p {
      color: $color-light-theme-text;
      font-family: $font-family-secondary;
      font-size: $font-sm;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: normal;
      max-width: 50ch;
      @include breakpoint-down(medium) {
        font-size: $font-xsm;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      @include button($color-dark-theme);
      min-width: 50px;
      width: 100px;
    }
    @include breakpoint-down(medium) {
      a {
        width: 90px;
        font-size: $font-xsm;
      }
    }
    @include breakpoint-down(xx-small) {
      a {
        width: 80px;
      }
    }
  }
  //////////////////////////////////////////////////////////
  &__project.horizontal &__slider {
    //  46px from:
    //    -> 24px of &__logo height
    //    -> 22px of &__skill span
    margin-top: calc(46px + 1rem);
    @include breakpoint-down(small) {
      margin-top: calc(41px + 1rem);
    }
  }
  //////////////////////////////////////////////////////////
  &__slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light-theme-contrast;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid $color-light-theme-border;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    .next,
    .prev {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      z-index: 2;
      border: none;
      height: 50%;
      box-shadow:
        0 0 0 1px $color-light-theme-border,
        0 0 6px 2px rgb(0 0 0 / 35%);
      width: 20px;
      background-color: hsla(0, 0%, 13%, 0.5);
      transition: all 0.3s ease;
      @media (hover: hover) {
        &:hover {
          background-color: $color-light-theme-border;
        }
      }
      &:active {
        background-color: $color-light-theme-border;
      }
      svg {
        height: 10px;
        path {
          fill: $color-light-theme;
        }
      }
    }
    .next {
      right: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: none;
    }
    .prev {
      left: 0;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-left: none;
    }
  }
  &__slider-image {
      position: absolute;
      width: 100%;
      border-radius: 10px;
  }
  &__horizontal-left {
    .next,
    .prev {
      height: 40%;
    }
  }
  &__showmore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid $color-light-theme-contrast;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    background-color: $color-light-theme;
    z-index: 2;
    margin-top: 2rem;
    transition: all 0.3s ease;
    a {
      cursor: pointer;
      text-decoration: none;
      font-family: $font-family-primary;
      font-size: $font-xsm;
      font-weight: 400;
      letter-spacing: 1px;
      color: $color-light-theme-text;
    }
    &:hover {
      background-color: $color-light-theme-text;
      a {
        color: $color-light-theme;
      }
    }
  }
  ///// CAROUSEL
  &__grid &__skills-carousel {
    height: calc(16px + 22px);
    width: calc(32px * 4);
  }
  &__grid &__logo {
    height: 16px;
    width: 16px;
    max-width: 16px;
    max-height: 16px;
  }
  &__skills-carousel {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    //  The height is determined by the sum of:
    //  -> 24px of &__logo height
    //  -> 22px of &__skill span:
    //        (9px of span font-size)
    //        (5px of span padding (2.5px top, 2.5px bottom))
    //        (2px of span border (1px top, 1px bottom))
    //        (6px of span top 3px * 2)
    height: calc(24px + 22px);
    //  The width is determined by the sum of:
    //  -> 24px of &__logo height
    //  -> 16px of &__logo margin (8px left, 8px right)
    //  -> 5 is the max number of logos
    width: calc(40px * 5);
    @include breakpoint-down(small) {
      height: calc(19px + 22px);
      width: calc(35px * 5);
    }
    @include breakpoint-down(x-small) {
      height: calc(16px + 22px);
      width: calc(32px * 5);
    }
  }
  &__skills {
    display: flex;
    background-color: transparent;
    width: max-content;
    animation-name: carouselScroll;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes carouselScroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-100% / 2));
      }
    }
  }
  &__skill {
    position: relative;
    cursor: default;
    span {
      display: none;
      position: absolute;
      left: 50%;
      top: calc(100% + 3px);
      transform: translate(-50%, 0%);
      font-family: $font-family-secondary;
      font-size: 9px;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 1;
      padding: 2.5px 5px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid $color-light-theme-contrast;
      background-color: $color-light-theme;
      color: $color-light-theme-text;
      min-width: 100%;
      white-space: nowrap;
    }
    &:hover {
      span {
        display: block;
      }
    }
  }
  &__logo {
    height: 24px;
    width: 24px;
    max-width: 24px;
    max-height: 24px;
    margin: 0 8px;
    @include breakpoint-down(small) {
      height: 19px;
      width: 19px;
      max-width: 19px;
      max-height: 19px;
    }
    @include breakpoint-down(x-small) {
      height: 16px;
      width: 16px;
      max-width: 16px;
      max-height: 16px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }  
  }
}

