.projects {
  background: $bg-grey-dark;
  background-image:
  linear-gradient(180deg, rgba(32, 32, 32, 0.763), rgba(32, 32, 32, 0.763)),
  url('../assets/projects/stars-background-vertical.jpg');
  background-size: contain;
  @media screen and (min-width:1900px) {
    background-repeat: repeat-y;
    background-size:cover;
  }
  &__wrapper{
    max-width: 1440px;
    padding: 5rem;
    margin: 0 auto;
    @include breakpoint-down(medium) {
      padding: 5rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    h3 {
      @include h3($light-text)
    }
  }
  &__featured,
  &__project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    h4 {
      color: $light-text;
      font-family: 'Manrope', sans-serif;
      letter-spacing: 5px;
      font-size: $font-lg;
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  &__image-placeholder {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }
  &__description {
    margin: 1rem 0;
    width: 100%;
    p {
      color: $light-text;
      font-family: 'Open Sans', sans-serif;
      font-size: $font-sm;
      @include breakpoint-down(small) {
        font-size: $font-xsm;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      @include button($bg-grey-darkest);
      min-width: 50px;
      width: 100px;
    }
  }
  &__project {
    flex-direction: row;
    gap: 2rem;
    button {
      background: $bg-grey;
    }
  }
  &__right {
    width: 40%;
  }
  &__left {
    width: 60%;
    overflow: hidden;
  }
  .horizontal {
    background: transparent;
  }
  &__showmore {
    a{
      cursor: pointer;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      color: $light-blue;
      font-size: $font-xsm;
      &:hover {
        color: darken($light-blue, 3%);
      }
      &:active {
        color: darken($light-blue, 5%);
      }
    }
  }
  &__wrapper.showmore {
    padding-top: 0rem;

    div.projects__container {
      padding-top: 1rem;
      border-top: 1px solid #292929;
    }
  }
  &__slider {
    width: 100%;
    position: relative;

    .next,
    .prev {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-size: $font-sm;
      font-family: 'Montserrat', sans-serif;
      z-index: 2;
      border: none;
      background: hsl(0deg 0% 0% / 73%);
      color: $light-text;
      color: white;
      backdrop-filter: blur(2px);
      height: 30%;
      padding: 0.5rem;
      box-shadow: 0px 0px 1px #5c5c5c;
      &:hover {
        background: hsl(0deg 0% 0% / 76%)
      }
    }
  
    .next {
      right: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: none;
    }
  
    .prev {
      left: 0;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-left: none;
    }
  }
  &__slider-image {
      position: absolute;
      width: 100%;
  }
  &__left {
    .next,
    .prev {
      height: 40%;
    }
  }
  &__right {
    margin-bottom: 3.5rem;
    @include breakpoint-down(small) {
      margin-bottom: 3.2rem;
    }
    @include breakpoint-down(x-small) {
      margin-bottom: 3rem;
    }
  }
  &__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__logo {
    height: 1.5rem;
    max-height: 1.5rem;
    @include breakpoint-down(small) {
      height: 1.2rem;
      max-height: 1.2rem;
    }
    @include breakpoint-down(x-small) {
      height: 1rem;
      max-height: 1rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

