.skills {
  background-color: $color-primary-theme;
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10rem 5rem;
    @include breakpoint-down(medium) {
      padding: 10rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    h3 {
      @include h3($color-primary-theme-text);
    }
  }
  &__skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 540px;
    align-items: stretch;
    border: 1px solid $color-primary-theme-border;
    padding: 2rem;
    border-radius: 10px;
    @include breakpoint-down(xx-small) {
      padding: 1rem;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    flex-basis: auto;
    gap: 0.5rem;
  }
  &__box:first-child  {
    .skills__box-items {
      @media (max-width: 400px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
  &__box-title {
    font-family: $font-family-primary;
    font-size: $font-sm;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    color: $color-primary-theme-text;
    white-space: nowrap;
  }
  &__box-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    gap: 1rem;
    background-color: $color-primary-theme-contrast;
    border-radius: 10px;
    flex-flow: wrap;
    @include breakpoint-down(x-small) {
      height: 100%;
    }
  }
  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex: 1;
    p {
      font-family: $font-family-secondary;
      font-size: $font-xsm;
      font-weight: 400;
      line-height: normal;
      letter-spacing: .5px;
      color: $color-light-theme-text;
      text-align: center;
      white-space: nowrap;
    }
    @include breakpoint-down(x-small) {
      p {
        white-space: normal;
      }
    }
  }
  &__logo {
    height: 2rem;
    width: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    @include breakpoint-down(small) {
    height: 1.5rem;
    width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}