.skills {
  background-color: #242dc7;
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10rem 5rem;
    @include breakpoint-down(medium) {
      padding: 10rem 3rem;
    }
    @include breakpoint-down(small) {
      padding: 5rem 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    h3 {
      @include h3(#DEE0FC);
    }
  }
  &__skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 540px;
    align-items: stretch;
    border: 1px solid rgb(222 224 252 / 30%);
    padding: 2rem;
    border-radius: 10px;
    @include breakpoint-down(xx-small) {
      padding: 1rem
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    gap: 0.5rem;
  }
  &__box-title {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 3px;
    font-size: $font-sm;
    color: #DEE0FC;
    white-space: nowrap;
  }
  &__box-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    gap: 1rem;
    background-color: #fafafa;
    border-radius: 10px;
  }
  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: $font-xsm;
      color: #595959;
      text-align: center;
      white-space: nowrap;
    }
  }
  &__logo {
    height: 2rem;
    width: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    @include breakpoint-down(small) {
    height: 1.5rem;
    width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}