/*----------| FONT SIZES |----------*/
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 2rem;

/*----------| FONTS |----------*/
$font-family-primary: 'Prompt', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;


/*----------| COLORS |----------*/
/* Base Colors */
$color-primary-theme: #242dc7;
$color-light-theme: #d0d2d6;
$color-dark-theme: #202020;

/* Text */
$color-primary-theme-text: #dee0fc;
$color-light-theme-text: #202020;
$color-dark-theme-text: #d0d2d6;

/* Contrast */
$color-primary-theme-contrast: #fafafa;
$color-light-theme-contrast: #acb1b9;
$color-dark-theme-contrast: #242dc7;

/* Border */
$color-primary-theme-border: rgb(222 224 252 / 30%);
$color-light-theme-border: #454545;
$color-dark-theme-border: #454545;

